@{
    ViewData["Title"] = "Chatbot";
}

<div class="chatbot">
    <div class="chat" id="chatArea">
        <ul id="messagesList"></ul>
    </div>
    <footer class="chatbot-footer">
        <input class="input-message" id="messageInput" type="text" placeholder="Your Message" />
        <button id="sendButton" class="send-button" onclick="sendMessage()"><b>Send</b></button>
    </footer>
</div>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}