@{
    ViewData["Title"] = "Home Page";
}


<div class="wave-container">
    <div class="intro-text">
    <h1 class="display-4">Easy solutions for Hard Farming</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <a class="btn start-chatting" asp-area="" asp-controller="Home" asp-action="Chatbot">Start chating</a>
    </div>
</div>
<div class="remaining-page">
<div class="second-block">
    <div class="text">
        <h1>Smart farming decision support system</h1>
        <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus</h5>
    </div>
    <img width="400px" src="~/imgs/greenhouse.png" />
</div>

<div class="box-group">
    <div class="box">
        <div class="box-body" style="background-color: #8DDD79;">
            <h5 class="card-title">Have a Smart Farming day</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p>
        </div>
    </div>
    <div class="box">
        <div class="box-body" style="background-color: #8DDD79;">
            <h5 class="card-title">We grow everything!</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p>
        </div>
    </div>
    <div class="box">
        <div class="box-body" style="background-color: #63A46C;">
            <h5 class="card-title">With an AI chatbot</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p>
        </div>
    </div>
</div>

<div class="chatbot-container">
    <img src="../imgs/Chatbot.png" />
    <div class="info">
        <h4 class="display-4">What is SF-DSS</h4>
        <p>Smart farming Decision support system(SF-DSS) Is an online application which harvests the power of research papers and AI to provide an easy way for farmers to look up, make growth plans and prepare for a succefull yield!</p>
    </div>
</div>
</div>
<style>

    .remaining-page {
        background-image: url('imgs/background_plant.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: 350%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }

    .chatbot-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 200px 0;
    }
    .chatbot-container img {
        max-height: 400px;
    }
    .chatbot-container .info {
        width: 40%;
    }
    .second-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: left;
        padding: 50px 0;
    }

        .second-block .text {
            padding: 50px;
            width: 40%;
            text-align: left;
        }

        .second-block img {
            flex: 0 0 250px;
            max-width: 100%;
        }

    .full-width {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .intro-text {
        width: 30%;
        margin-left: 20%;
        text-align: left;
    }

    .box-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }

    .box {
        display: flex;
        justify-content: center;
    }

    .box-body {
        border-radius: 20px;
        padding: 20px;
        max-width: 50%;
        min-height: 250px;
    }

    .wave-container {
        background-image: url('../imgs/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        padding: 100px 20px;
        text-align: center;
        color: white;
        }

    .btn {
        border-radius: 40px;
        background-color: white;
        color: black;
        padding: 5px 40px;

    }
</style>