@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-image: url('imgs/background.png')">
    <h1 class="display-4">Easy solutions for Hard Farming</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and  typesetting industry. Lorem Ipsum has been the industry's standard dummy  text ever since the 1500s, when an unknown printer took a galley of  type and scrambled it to make a type specimen book.</p>
    <a class="btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="Chatbot">Start chating</a>
</div>
<div>
    <h1>Smart farming decision support system</h1>
    <h5>Lorem Ipsum is simp</h5>
</div>
<div class="card-group">
    <div class="card">
            <div class="card-body" style="background-color: #8DDD79;">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body" style="background-color: #8DDD79;">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body" style="background-color: #63A46C;">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
    </div>
</div>
<div>
    <p>Lorem Ipsum is simply dummy text of the printing and  typesetting industry. Lorem Ipsum has been the industry's standard dummy  text ever since the 1500s, when an unknown printer took a galley of  type and scrambled it to make a type specimen book.</p>
    <img src="smth.png" />
</div>