.send-button {
    cursor: pointer;
    border: 0;
    padding: 10px 30px;
    background-color: var(--color-lightgreen-100);
    height: 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: center;
    box-sizing: border-box;
    z-index: 2;
    margin: 0 20px;
}

    .send-button:hover {
        background-color: #59ab47;
    }

    .send-button:disabled {
        background-color: lightgray;
        cursor: not-allowed;
    }

.chatbot-footer {
    display: flex;
    flex-direction: row;
    bottom: 0;
    justify-content: center;
    margin: 10px 0;
}

.input-message {
    width: 70%;
    border-radius: 10px;
}

.chatbot {
    height: 85vh;
    border: 3px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

#messagesList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    #messagesList li {
        font-size: 1.5rem;
        margin-bottom: 10px;
        display: flex;
    }

        #messagesList li.user-message {
            color: lightslategray;
            justify-content: flex-end;
        }

        #messagesList li.bot-message {
            color: black;
            justify-content: flex-start;
        }
